body{
    background-color: #85C1E9;
}

fieldset{
    margin-bottom: 10px ;
    border-color: black;
   
}

legend{
    border: solid 2px black;
    padding: 8px;
    font-weight: bold;
    background: #CCD1D1 ;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
}

#mifoto{
    border: solid 2px black;
}